// Colors
$color-light-purple: #e3e3;

$breakpoint-md: 768px; // tablets
$breakpoint-max-lg: 959px; // desktop
$breakpoint-lg: 960px; // desktop
$breakpoint-max-xlg: 1439px; // HD
$breakpoint-xlg: 1440px; // HD
