.body-copy {
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #ffffff;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/* General */

.h1 {
  font-family: $font-secondary;
  font-weight: bold;
  font-size: 28px;

  @media (min-width: $breakpoint-md) {
    font-size: 36px;
  }
}

.regular-text {
  font-family: $font-primary;
  color: $slightly-transparent-white;
  line-height: 180%;
  font-size: 15px;

  @media (min-width: $breakpoint-md) {
    font-size: 14px;
  }
}

.bold-text {
  font-family: $font-primary;
  font-weight: bold;
}

.highlight {
  color: $soft-violet;
}
